{
  "trailingComma": "none",
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": {
        "parser": "lwc"
      }
    },
    {
      "files": "**/*.{cmp,page,component}",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "**/*.xml",
      "options": {
        "plugins": [
          "@prettier/plugin-xml"
        ]
      }
    },
    {
      "files": "**/*.{cls,trigger}",
      "options": {
        "tabWidth": 4,
        "plugins": [
          "prettier-plugin-apex"
        ]
      }
    }
  ]
}